APP_NAME=susanoo-nest
APP_HOST=0.0.0.0
APP_PORT=4000
CORS_ORIGIN=*
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=susanoo
TYPEORM_LOGGING=true
JWT_SECRET=change-me-susanoo-secret
JWT_ACCESS_EXPIRES_IN=10m
JWT_REFRESH_EXPIRES_IN=7d
S3_BUCKET=susanoo-dev-attachments
S3_REGION=us-east-1
S3_BASE_URL=https://susanoo-dev-attachments.s3.amazonaws.com
S3_UPLOAD_PREFIX=uploads
THROTTLE_TTL=60
THROTTLE_LIMIT=20
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_TTL=3600
